In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [2]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('True.csv')

In [3]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
data_fake["class"] = 0
data_true['class'] = 1

In [6]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [7]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis = 0, inplace = True)
    
data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis = 0, inplace = True)

In [8]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [9]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\DELL\AppData\Local\Temp\ipykernel_8456\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_8456\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [10]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [11]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
data_merge = pd.concat([data_fake, data_true], axis = 0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [13]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
data = data_merge.drop(['title', 'subject', 'date'], axis = 1)

In [15]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [17]:
data = data.sample(frac = 1)

In [20]:
data.head()

                                                    text  class
150    When Donald Trump allowed popular Nazi blog Th...      0
14096  SEOUL (Reuters) - South Korea is considering s...      1
7754   WEST PALM BEACH, Fla. (Reuters) - Donald Trump...      1
11279  WASHINGTON/MOSCOW (Reuters) - The United State...      1
6142   This is sad and infuriating.In February, forme...      0

In [21]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [22]:
data.columns

Index(['text', 'class'], dtype='object')

In [23]:
data.head()

                                                text  class
0  When Donald Trump allowed popular Nazi blog Th...      0
1  SEOUL (Reuters) - South Korea is considering s...      1
2  WEST PALM BEACH, Fla. (Reuters) - Donald Trump...      1
3  WASHINGTON/MOSCOW (Reuters) - The United State...      1
4  This is sad and infuriating.In February, forme...      0

In [24]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W", " ", text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [25]:
data['text'] = data['text'].apply(wordopt)

In [26]:
data['text'][1626]

'women should get as far away from oklahoma as soon as possible because christian sharia law is about to make their lives a living hell if oklahoma state gop rep  george faught has his way  rape will be on the path to being legal in the state  at least that s what rapists are hoping for after faught made a frightening statement on the subject during a debate on house bill   which restricts abortion democratic rep  cory williams masterfully cornered faught during the hearing by asking him if he believes rape and incest are the  will of god  since the legislation has no exceptions for either  meaning women would be forced to give birth to their rapist s baby faught s reply is absolutely appalling and demonstrates once again why women should never vote for republicans  especially republicans who want to base our laws on the bible  well  you know  if you read the bible  there s actually a couple circumstances where that happened   faught said   the lord uses all circumstances  i mean  you can go down that path  but it s a reality unfortunately  faught literally just used the bible to justify rape  and then he used it to justify incest  same answer   faught replied  then he argued that williams  questions have nothing to do with the bill  williams vehemently disagreed and explained why  you are proffering a divine intervention as the reason why you won t do that and so i think it is very important   williams said before demanding faught repeat his answer again   this body wants to know   and myself personally   whether you believe rape and incest are actually the will of god  faught obliged and stated that rape and incest are god s will because god is sovereign over all activities that happen  it s a great question to ask  and  obviously if it happens in someone s life  it may not be the best thing that ever happened  but   so you re saying that god is not sovereign with every activity that happens in someone s life and can t use anything and everything in someone s life and i disagree with that  seriously here s the video via youtube this is exactly the same kind of statement that republicans like rick santorum and richard mourdock made during the  election  i believe and i think the right approach is to accept this horribly created   in the sense of rape   but nevertheless a gift in a very broken way  the gift of human life  and accept what god has given to you   santorum said during his run for the presidency   as you know  we have to  in lots of different aspects of our life  we have horrible things happen  i can t think of anything more horrible  but  nevertheless  we have to make the best out of a bad situation  i ve struggled with it myself for a long time  but i came to realize that life is that gift from god   mourdock said during his senate run in indiana  and even when life begins in that horrible situation of rape  that it is something that god intended to happen  both of these assholes think that rape is sanctioned by god and that women should appreciate the  gift  god is giving them by force  it s disgusting and is the reason why both men lost their races and now faught should be ousted from office as well featured image  wikimedia'

In [27]:
x = data['text']
y = data['class']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test =  vectorization.transform(x_test)

# Train models

In [30]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [31]:
pred_lr = LR.predict(xv_test)

In [32]:
LR.score(xv_test, y_test)

0.9867201426024955

In [33]:
print("test accuracy :",accuracy_score(pred_lr,y_test))

test accuracy : 0.9867201426024955

In [34]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5926
           1       0.99      0.99      0.99      5294

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [35]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [36]:
pred_dt = DT.predict(xv_test)

In [37]:
DT.score(xv_test, y_test)

0.9952762923351158

In [38]:
print("test accuracy :",accuracy_score(pred_dt,y_test))

test accuracy : 0.9952762923351158

In [39]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5926
           1       1.00      0.99      0.99      5294

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [40]:
from sklearn.ensemble import GradientBoostingClassifier

GB = GradientBoostingClassifier(random_state = 0)
GB.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [41]:
pred_gb = GB.predict(xv_test)

In [42]:
GB.score(xv_test, y_test)

0.9957219251336898

In [43]:
print("test accuracy :",accuracy_score(pred_gb,y_test))

test accuracy : 0.9957219251336898

In [44]:
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5926
           1       0.99      1.00      1.00      5294

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [45]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state = 0)
RF.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [46]:
pred_rf = RF.predict(xv_test)

In [47]:
RF.score(xv_test, y_test)

0.9885918003565063

In [48]:
print("test accuracy :",accuracy_score(pred_rf,y_test))

test accuracy : 0.9885918003565063

In [49]:
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5926
           1       0.99      1.00      1.00      5294

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [50]:
# function for detecting any news is fake or real

def output_label(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "True News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    
    return print("\nLR Prediction: {} \nDT Prediction: {} \nGB Prediction {}\nRF Prediction {}".format(output_label(pred_LR[0]),
                                                                                  output_label(pred_DT[0]),
                                                                                  output_label(pred_GB[0]),
                                                                                  output_label(pred_RF[0])))

In [51]:
news = str(input())
manual_testing(news)

TWO YEARS AGO, Twitter launched what is perhaps the tech industry’s most ambitious attempt at algorithmic transparency. Its researchers wrote papers showing that Twitter’s AI system for cropping images in tweets favored white faces and women, and that posts from the political right in several countries, including the US, UK, and France, received a bigger algorithmic boost than those from the left.   By early October last year, as Elon Musk faced a court deadline to complete his $44 billion acquisition of Twitter, the company’s newest research was almost ready. It showed that a machine-learning program incorrectly demoted some tweets mentioning any of 350 terms related to identity, politics, or sexuality, including “gay,” “Muslim,” and “deaf,” because a system intended to limit views of tweets slurring marginalized groups also impeded posts celebrating those communities. The finding—and a partial fix Twitter developed—could help other social platforms better use AI to police content. But would anyone ever get to read the research?

LR Prediction: Fake News
DT Prediction: Fake News
GB Prediction Fake News
RF Prediction Fake News

In [54]:
news = str(input())
manual_testing(news)

On Sunday, December 4, 2016, a shooting incident occurred at a pizza shop in northwestern Washington D.C. during the middle of the day. This was in a busy but peaceful shopping district, and the shop was filled with families. A man brought a rifle into the shop and began shooting. Fortunately, no one was hurt, and the suspect was arrested, but the motive for this crime and the circumstances that triggered it were shocking.  The pizza shop, called Comet Ping Pong, had become embroiled in a strange situation due to an event that had occurred about one month earlier. There were false tweets widely spread on the net claiming that this pizza shop was the base for a pedophile sex ring involving Democratic presidential candidate Hillary Clinton, a former Secretary of State, and members of her campaign. The operators of the pizza shop began receiving threats from right wing activists who believed that the reports were true.  According to The Washington Post, the trigger was the announcement on October 28 about the resumption of the investigation by the Federal Bureau of investigation (“FBI”) into the issue of the use of private e-mail by Hillary Clinton during her tenure as Secretary of State. Two days later, there was a large volume of tweets about newly-discovered e-mail related to a pedophile sex ring. These posts were spread on anonymous bulletin board sites and via social media; and there were many abusive videos directed at Ms. Clinton posted on extreme-right-wing sites. Two days before the election, the FBI announced that they had reached a conclusion that they would not seek prosecution of Ms. Clinton.  The anonymous bulletin board sites then focused their attention on the pizza shop called Comet Ping Pong, which was frequently mentioned in the e-mail of John Podesta, head of the Clinton campaign, whose e-mails were being successively leaked on the whistle-blower site WikiLeaks at about this same time. This escalated into posts that this shop was the site of child sex trafficking. The day before the voting in the presidential election, the hashtag “#pizzagate” appeared. Even after Ms. Clinton’s defeat the following day, the tweets did not subside, and instead continued to expand. It was reported that the Central Intelligence Agency (“CIA”) had determined that there were cyber-attacks on the e-mail of Democratic Party officials, like Mr. Podesta, indicating that there was intervention from Russia aimed at ensuring that Mr. Trump would win the election; and President Obama demanded a thorough investigation of the government intelligence agencies before his own retirement.  As the number of people who believed in the “pizzagate” conspiracy grew, and the threats directed at the pizza shop increased, the shops in the neighborhood also became involved. The operators of the pizza shop and surrounding businesses said they became frightened by more and more confrontations with people who believed the fake news. Although social media subsequently banned posts related to pizzagate, the threats did not stop, culminating in the appearance of a 28-year-old man from North Carolina, who showed up at the shop with a rifle to do his own “investigation.” According to a New York Times interview with the suspect after his capture, he was a soft-spoken, polite man who intended to rescue the children trapped in the shop.

LR Prediction: Fake News
DT Prediction: Fake News
GB Prediction Fake News
RF Prediction Fake News